<form action="/answer" data-turbo="false" method="get">
  <label for="question">Ask your coach anything:</label>
  <div class="input">
    <input type="text" name="question">
    <input class="submit" type="submit" value="Ask!">
  </div>
</form>
